<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColbyG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E974D6FB1DB007B000A06F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E974D7141DB007B100A06F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E974D71F1DB007B100A06F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
